/*  Footer
------------------------------------*/
.footer {
    // @extend %clearfix;
    color: $color-a;
    background: url('../images/bg_footer.jpg') repeat-x;
    background-size: 100% 100%;
    padding: 95px 0 50px;
    a {
        line-height: 1.8;
        color: $color-a;
        @include mqSm {
            @include fontSize(1, sp);
        };
    }
    span {
        padding: 0 8px;
    }
    .listItems {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .copyright {
        padding-top: 1rem;
        text-align: center;
    }
}
