/*  main_visual
------------------------------------*/

.listTag {
    display: none;
    background: url('../images/bg_tag.jpg') no-repeat;
    background-size: 100% 100%;
}
.main_visual {
    position: relative;
    background: url('../images/bg_main.jpg') no-repeat top left;
    background-size: cover;
    height: 790px;
    padding: 0 17px 17px;
    .container {
        position: relative;
    }
    .main_visual_in {
        display: flex;
        justify-content: flex-end;
    }
    .logo {
        position: absolute;
        top: 11px;
        left: 0;
        width: 17%;
    }
    .title_main {
        margin-right: -4%;
        width: 79.7%;
    }
    .highlight {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px 0;
        max-height: 182px;
        background: #e389a8;
        .listItems {
            justify-content: space-between;
            // align-items: center;
        }
        .items {
            // width: 33.3%;
            &:first-child {
                position: relative;
                // width: 34.6%;
                width: 35%;
                @include mqSm {
                    width: 50%;
                };
                &:after {
                    content: "";
                    top: 12%;
                    right: 0px;
                    position: absolute;
                    height: 72%;
                    border-left: 4px dotted #fff;
                    @include mqSm {
                        top: 0;
                        height: 100%;
                        border-left: 2px dotted #fff;
                    };
                }
            }
            &:nth-child(2) {
                // width: 38.3%;
                width: 38%;
                padding-left: 2%;
                @include mqSm {
                    width: 50%;
                };
            }
            &:nth-child(3) {
                width: 26%;
                padding-left: 1.5%;
            }
            &.logo_02 {
                position: relative;
                margin-top: -35px;
                margin-bottom: -20px;
            }
            .ico_tw {
                width: 24%;
                margin: auto;
                position: absolute;
                top: 14%;
                left: 38%;
                right: 0;
                text-align: center;
            }
        }
    }
}
/*  Local_01
------------------------------------*/
.local_01 {
    background: #e9f2f3;
    .title_group {
        padding: 55px 0 75px;
        .title_h2 {
            padding-bottom: 15px;
        }
    }
    .row_01 {
        padding: 58px 0 77px;
        // height: 510px;
        background: url('../images/bnr_01.jpg') no-repeat top center;
        background-size: cover;
        @include mqLg {
            padding: 4.8vw 0 6.4vw;

        };
        .avatar {
            padding-left: 25px;
            // max-width: 346px;
            width: 28%;
        }
        .description {
            text-align: center;
            // padding-top: 65px;
            padding-left: 15px;
            // max-width: 654px;
            width: 100%;
            max-width: 658px;
            margin: auto;
            @include mqLg {
                width: 72%;
                padding-left: 4.3vw;
            };
        }
        .txt_img {
            text-align: center;
            position: relative;
            img {
                // width: 94.5%;
                @include mqLg {
                    width: 51vw;
                };
                @include mqSm {
                    width: 100%;
                };
            }
            // > span.caption {
            //     color: #27516E;
            //     font-size: 0.5rem;
            //     position: absolute;
            //     top: 185px;
            //     right: -20px;
            //     @include mqSm {
            //         top:35vw;
            //         left: 50%;
            //         text-align: center;
            //     };
            // }
        }
        .txt_01 {
            border-top: 1px solid $link-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 492px;
            flex-wrap: wrap;
            margin: auto;
            margin-top: 15px;
            padding-top: 5px;
            color: $link-color;
            text-align: left;
            @include mqLg {
                max-width: 41vw;
            }
            @include mqSm {
                max-width: 100%;
                flex-direction: column;
            }
            .text {
                @include fontSize(1.8);
                @include mqLg {
                    font-size: 1.5vw;
                }
            }
            .caption {
                padding-top: 10px;
                text-align: right;
                width: 100%;
                color: #27516E;
                @include fontSize(1.2);
                @include mqSm {
                    text-align: center;
                    @include fontSize(0.8, sp);
                    // top:35vw;
                    // left: 50%;
                    // text-align: center;
                };
            }
        }
        .tag span {
            margin-top: 0;
            @include mqSm {
                // display: block;
                margin-top: 1vw;
            };
        }
    }
    // row_02
    .row_02 {
        padding: 60px 0;
        color: $link-color;
        background: url('../images/main_movie.png') no-repeat top center;
        background-size: cover;
        .title_h3 {
            margin-bottom: 20px;
        }
        .content {
            max-width: 677px;
            margin: auto;
        }
        .note {
            @include fontSize(1.2);
            text-align: right;
        }
        .listItems {
            padding-top: 30px;
            // justify-content: space-between;
            margin: 0 -1rem;
            .items {
                width: 33.3333333%;
                // &:not(:first-child) {
                    padding: 0 1rem;
                // }
            }
            .text {
                padding-top: 2px;
                @include fontSize(2);
                @include mqLg {
                    font-size: 1.7vw;
                };
            }
        }
        .img_bnr {
            iframe {
                width: 100%;
                height: 380px;
            }
            padding-top: 40px;
        }
    }
    // row_03
    .row_03 {
        background: $color-a;
        color: $color-a;
        .row_03_first {
            background: url('../images/bg_pinkGradient_01.jpg') no-repeat;
            background-size: 100% 100%;
            padding: 100px 0;
            .text {
                line-height: 2;
                @include fontSize(1.6);
                @include mqLg {
                    font-size: 1.3vw;
                };
                @include mqSm {
                    @include fontSize(1, sp);
                };
                &:not(:last-child) {
                    padding-bottom: 45px;
                }
            }
        }
        .content_left {
            width: 50%;
            @include mqSm {
                width: 60%;
            }
        }
        .content_right {
            padding-top: 40px;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            padding-left: 3.5vw;
            @include mqSm {
                padding-top: 0;
                width: 40%;
                flex-direction: column;
                align-items: flex-end;
            };
            .thumb_product {
                padding: 0 28px;
                @include mqLg {
                    padding: 0 2.3vw;
                };
                @include mqSm {
                    padding: 2vw 1vw;
                }
            }
        }
        .title_h3 {
            margin-top: -0.8rem;
            color: $color-a;
            padding-bottom: 8px;
        }
        .thumb_left {
            width: 36%;
        }
        .content {
            background: url('../images/bg_pinkGradient.jpg') no-repeat;
            background-size: 100% 100%;
            // width: 77%;
            width: 64%;
            padding: 55px 0px 45px 45px;
            .text {
                @include fontSize(1.6);
                line-height: 1.9;
            }
        }
        .news_thumb {
            &:not(:last-child) {
                padding-bottom: 4.5rem;
            }
        }
        .avatar {
            width: 124px;
        }
        .description {
            // max-width: 511px;
            max-width: 530px;
            width: 100%;
            padding-left: 30px;
        }
    }
    // row_04
    .row_04 {
        background: $color-a;
        color: $color-a;
        .wrap_12 {
            display: flex;
            flex-wrap: wrap;
        }
        .title_h4 {
            font-weight: bold;
            padding-bottom: 2rem;
        }
        .txt_content {
            &.pb55 {
                padding-bottom: 5.5rem;
            }
        }
        .text-check {
            margin-left: 3rem;
        }
        .content {
            padding: 90px 0 0 100px;
            width: 56.5%;
            background: url('../images/bg_pinkGradient_02.jpg') no-repeat;
            background-size: 100% 100%;
        }
        .thumb_right {
            width: 43.5%;
        }
        .listThumb {
            max-width: 516px;
            width: 100%;
            margin-right: -1rem;
            justify-content: center;
            &.vacant {
                // justify-content: flex-start;
            }
        }
        .items_thumb {
            width: 25%;
            text-align: center;
            @include fontSize(1.6);
            padding-top: 2rem;
            // &:not(:last-child) {
            padding-right: 1rem;
            // }
            .text {
                @include fontSize(1.6);
            }
        }
    }
    // row_05
    .row_05 {
        background: url('../images/bg_gradient_pink.png') no-repeat;
        background-size: 100% 100%;
        padding: 65px 0 75px;
        .listItems {
            max-width: 738px;
            width: 100%;
            margin: auto;
            justify-content: space-between;
            @include mqLg {
                // max-width: 55.4vw;
            };
        }
        .txt_img {
            position: relative;
            text-align: center;
            @include mqLg {
                img {
                    // width: 14.5vw;
                    width: 69.5%;
                }
            };
            // > span.caption {
            //     color: #fff;
            //     font-size: 0.5rem;
            //     position: absolute;
            //     top: 150px;
            //     right: 0px;
            //     @include mqSm {
            //         top:20vw;
            //         right: 0;
            //         left: 7vw;
            //         font-size: 0.1rem;
            //     };
            // }
        }
        .txt_01 {
            // width: 470px;
            width: 80%;
            margin: auto;
            margin-top: 20px;
            color: $color-a;
            text-align: center;
            @include mqSm {
                margin-top: 10vw;
            };
            .text {
                padding-bottom: 8px;
                margin-bottom: 8px;
                @include fontSize(3);
                border-bottom: 1px solid $color-a;
                @include mqLg {
                    font-size: 2.4vw;
                };
            }
            .tag {
                span {
                    border: 1px solid $color-a;
                }
            }
            .caption {
                padding-top: 10px;
                width: 100%;
                @include fontSize(1.2);
                @include mqSm {
                    text-align: center;
                    @include fontSize(0.8, sp);
                    // top:35vw;
                    // left: 50%;
                    // text-align: center;
                };
            }
        }
        .avatar {
            // width: 190px;
            width: 38%;
            // padding-left: 165px;
            @include mqSm {
                width: 30%;
                // width: 15.8vw;
            };
        }
        .description {
            // width: 475px;
            width: 62%;
            @include mqLg {
                // width: 39.5vw;
            };
            @include mqSm {
                width: 70%;
            };
            span {
                @include fontSize(2.1);
                @include mqLg {
                    font-size: 1.7vw;
                };
            }
        }
        .button {
            padding-top: 20px;
            width: 100%;
            text-align: center;
        }
    }
}
/*  Local_02
------------------------------------*/
.local_02 {
    .wrap_12 {
        background: url('../images/bg_02.jpg') no-repeat top center;
        background-size: cover;
        color: $link-color;
        padding: 10rem 0 7rem;
    }
    .title_section {
        padding-top: 1rem;
        position: relative;
        .ico_spf {
            width: 11.5%;
            position: absolute;
            top: calc(50% - 40px);
            right: 0;
        }
    }
    .listItems {
        padding-top: 73px;
        margin: 0 -26px;
        .items {
            width: 33.3333333%;
            padding: 24px 26px 35px;
            &:not(:first-child) {
                border-left: 1px solid #b7915a;
            }
            // &:first-child() {
            //     padding-left: 0;
            // }
            // &:last-child() {
            //     padding-right: 0;
            // }
        }
        .text {
            padding-top: 1.5rem;
            @include fontSize(1.8);
        }
    }
}
/*  local_03
------------------------------------*/
.local_03 {
    background: #fbcfde;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: url('../images/bg_tit_04.png') no-repeat;
        width: 100%;
        height: 100px;
        background-size: 100% 100%;
    }
    .container {
        position: relative;
        z-index: 9;
    }
    a {
        color: $link-color;
    }
    .title_h2 {
        padding-top: 1.5rem;
    }
    .img_bnr {
        padding-top: 120px;
    }
    .arrow {
        display: inline-block;
        padding-left: 25px;
    }
    .listItems {
        padding: 143px 0 45px;
        justify-content: space-between;
        .items {
            width: 32.5%;
            position: relative;
        }
        a {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            width: 77%;
            bottom: 11%;
            margin: auto;
            text-align: center;
        }
    }
    .text {
        @include fontSize(1.6);
        padding-bottom: 75px;
    }
}
/*  main_visual_02
------------------------------------*/
.main_visual_02 {
    background: url('../images/bg_main.jpg') no-repeat bottom left;
    position: relative;
    background-size: cover;
    height: 790px;
    padding-top: 40px;
    .container {
        position: relative;
    }
    .main_visual_in {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .title_main {
        text-align: right;
        margin-right: -2.7%;
        width: 79.7%;
    }
    .box_main {
        width: 74%;
        margin-top: 24px;
        margin-right: -0.3%;
        text-align: right;
    }
    .highlight {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 25px 0;
        max-height: 182px;
        background: #e389a8;
        .listItems {
            justify-content: space-between;
            // align-items: center;
        }
        .items {
            // width: 33.3%;
            position: relative;
            &:first-child {
                padding-top: 18px;
                @include mqLg {
                    padding-top: 1vw;
                };
                // width: 34.6%;
                padding-left: 7.5%;
                width: 29%;
            }
            &:nth-child(2) {
                // width: 38.3%;
                width: 34.3%;
                padding-right: 3%;
            }
            &:nth-child(3) {
                width: 36.6%;
                padding-right: 5.5%;
            }
            &.logo_02 {
                position: relative;
                margin-top: -35px;
                margin-bottom: -20px;
            }
            .ico_tw {
                width: 49%;
                margin: auto;
                position: absolute;
                top: 45%;
                left: 12%;
                right: 0;
                text-align: center;
            }
        }
    }
}
// /*  Local_01
// ------------------------------------*/
