/*------------------- Wraper -------------------*/
.wrapper {
    // ...
    background: #e9f2f3;
}
.clearfix {
    @extend %clearfix;
}
.container {
    // @extend %clearfix;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    // padding: 0 25px;
}
.wrap_12 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*------------------- Component -------------------*/
// /*------------------- Typography -------------------*/
.title_h2 {
    text-align: center;
    // color: $color-primary;
    // line-height: 1.8;
}
.title_h3 {
    // text-align: center;
    // line-height: 1.8;
    @include fontSize(3);
    color: $link-color;
    font-weight: bold;

}
.title_h4 {
    @include fontSize(3);
    color: $color-a;
}
.title_h5 {
    color: $blue;
    font-weight: bold;
    padding-bottom: 20px;
    letter-spacing: 1.6px;
    text-align: justify;
    @include fontSize(2.3);
    @include mqSm {
        @include fontSize(1.1, sp);
    };
}
.text {
    // padding:
    @include fontSize(2.2);
    @include mqSm {
        @include fontSize(1, sp);
    };
    // color:
}
.text-check {
    position: relative;
    color: $color-a;
    padding-left: 45px;
    padding-bottom: 1.7rem;
    @include fontSize(2.4);
    // text-indent: -0px;
    @include mqLg {
        padding-bottom: 1.5vw;
        padding-left: 3.75vw;
        font-size: 2vw;
        margin-left: 2.5vw;
    };
    @include mqSm {
        padding-bottom: 3.5vw;
        @include fontSize(1.3, sp);
        padding-left: 8vw;
    };
    &:before {
        content: "";
        background: url('../images/check.png') no-repeat;
        position: absolute;
        width: 31px;
        height: 33px;
        top: -5px;
        left: 0;
        background-size: contain;
        @include mqLg {
            // left: 2vw;
            width: 2.6vw;
        };
        @include mqSm {
            // left: 2vw;
            // top: -0.8vw;
            width: 6vw;
        };
    }
}
.tag {
    span {
        line-height: 1;
        padding: 3px 5px;
        margin-top: 7px;
        display: inline-block;
        border: 1px solid $link-color;
        @include fontSize(1.5);
        @include mqSm {
            line-height: 1.4;
            @include fontSize(0.8, sp);
        };
    }
}
// /*------------------- Form -------------------*/
input {
    // padding:
    // border:
    &:focus {

    }
}
select {
    // padding:
    // border:
}
textarea {
    // padding:
    // border:
}
.btn {
    // padding:
    // border:
    // background:
    // font-size:
    // color:
}

/*------------------- List -------------------*/
.listItems {
    display: flex;
    flex-wrap: wrap;
    // @extend %clearfix;
    // .items {
    //     float: left;
    // }
    &.nowrap {
        flex-wrap: nowrap;
    }
}
